<table class="table-boleto" cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
        <td valign="bottom" colspan="8" class="noborder nopadding">
            <div class="logocontainer">
                <div class="logobanco">
                    <img src="<?php echo $bank_logo; ?>" alt="logotipo do banco">
                </div>
                <div class="codbanco"><?php echo $bank_code_with_digit ?></div>
            </div>
            <div class="linha-digitavel"><?php echo $writable_line ?></div>
        </td>
    </tr>
    <tr>
        <td colspan="7">
            <div class="titulo">Local de pagamento</div>
            <div class="conteudo"><?php echo $payment_location ?></div>
        </td>
        <td width="180">
            <div class="titulo">Vencimento</div>
            <div class="conteudo rtl"><?php echo $date_due ?></div>
        </td>
    </tr>
    <tr>
        <td colspan="7" rowspan="2" valign="top">
            <div class="titulo">Beneficiário</div>
            <div class="conteudo float_left"><?php echo $holder ?><br /><?=$holder_address_1;?><br /><?=$holder_address_2;?></div>
            <div class="conteudo cpf_cnpj"><?php echo $holder_document ?></div>
            

        </td>
        <td>
            <div class="titulo">Agência/Código beneficiário</div>
            <div class="conteudo rtl"><?php echo $agency_holder ?></div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="titulo">Nosso número</div>
            <div class="conteudo rtl"><?php echo $our_number ?></div>
        </td>
    </tr>
    <tr>
        <td width="110" colspan="2">
            <div class="titulo">Data do documento</div>
            <div class="conteudo"><?php echo $date_document ?></div>
        </td>
        <td width="120" colspan="2">
            <div class="titulo">Nº documento</div>
            <div class="conteudo"><?php echo $document_number ?></div>
        </td>
        <td width="60">
            <div class="titulo">Espécie doc.</div>
            <div class="conteudo"><?php echo $currency ?></div>
        </td>
        <td>
            <div class="titulo">Aceite</div>
            <div class="conteudo"><?php echo $accept ?></div>
        </td>
        <td width="110">
            <div class="titulo">Data processamento</div>
            <div class="conteudo"><?php echo $date_document ?></div>
        </td>
        <td>
            <div class="titulo">(=) Valor do Documento</div>
            <div class="conteudo rtl"><?php if ($value_print) {
                echo $value;
            } ?></div>
        </td>
    </tr>
    <tr>
        <?php if (isset($hide_bank_use) && !$hide_bank_use) : ?>
            <td<?php if (!$mostra_cip) : ?> colspan="2"<?php endif ?>>
                <div class="titulo">Uso do banco</div>
                <div class="conteudo"><?php echo $bank_use_only ?></div>
            </td>
        <?php endif; ?>

        <?php if (isset($hid_cip) && $hide_cip) : ?>
            <!-- Campo exclusivo do Bradesco -->
            <td width="20">
                <div class="titulo">CIP</div>
                <div class="conteudo"><?php echo $cip ?></div>
            </td>
        <?php endif ?>

        <td<?php if (isset($hide_bank_use) && $hide_bank_use) : ?> colspan="3"<?php endif; ?>>
            <div class="titulo">Carteira</div>
            <div class="conteudo"><?php echo $portfolio_name ?></div>
        </td>
        <td width="35">
            <div class="titulo">Espécie</div>
            <div class="conteudo"><?php echo $currency ?></div>
        </td>
        <td colspan="2">
            <div class="titulo">Quantidade</div>
            <div class="conteudo"><?php echo $quantity ?></div>
        </td>
        <td width="110">
            <div class="titulo">Valor</div>
            <div class="conteudo"><?php echo $value_unit ?></div>
        </td>
        <td>
            <div class="titulo">(-) Descontos / Abatimentos</div>
            <div class="conteudo rtl"><?php echo $value_discount ?></div>
        </td>
        <td>
            <div class="titulo"></div>
            <div class="conteudo rtl"></div>
        </td>
        <td>
            <div class="titulo"></div>
            <div class="conteudo rtl"></div>
        </td>
    </tr>
    <tr>
        <td colspan="7" valign="top">
            <div class="titulo">Instruções (Texto de responsabilidade do beneficiário)</div>
        </td>
        <td>
            <div class="titulo">(-) Outras deduções</div>
            <div class="conteudo rtl"><?php echo $value_other_discounts ?></div>
        </td>
    </tr>
    <tr>
        <td colspan="7" class="notopborder" valign="top">
            <div class="conteudo"><?php echo $instructions[0]; ?></div>
            <div class="conteudo"><?php echo $instructions[1]; ?></div>
        </td>
        <td>
            <div class="titulo">(+) Mora / Multa</div>
            <div class="conteudo rtl"><?php echo $value_late_payment ?></div>
        </td>
    </tr>
    <tr>
        <td colspan="7" class="notopborder">
            <div class="conteudo"><?php echo $instructions[2]; ?></div>
            <div class="conteudo"><?php echo $instructions[3]; ?></div>
        </td>
        <td>
            <div class="titulo">(+) Outros acréscimos</div>
            <div class="conteudo rtl"><?php echo $value_other_additions ?></div>
        </td>
    </tr>
    <tr>
        <td colspan="7" class="notopborder">
            <div class="conteudo"><?php echo $instructions[4]; ?></div>
            <div class="conteudo"><?php echo $instructions[5]; ?></div>
        </td>
        <td>
            <div class="titulo">(=) Valor cobrado</div>
            <div class="conteudo rtl"><?php echo $value_payment ?></div>
        </td>
    </tr>
    <tr>
        <td colspan="7" valign="top">
            <div class="titulo">Pagador</div>
            <div class="conteudo float_left"><?php echo $drawer ?><br />
            <?=$drawer_address_1;?><br /><?=$drawer_address_2;?></div>
            <div class="conteudo cpf_cnpj"><?php echo $drawer_document; ?></div>
        </td>
        <td class="noleftborder">
            <div class="titulo" style="margin-top: 50px">Cód. Baixa</div>
        </td>
    </tr>

    <tr>
        <td colspan="6" class="noleftborder">
            <div class="titulo">Pagador / Avalista <div class="conteudo pagador"><?php echo $customer; ?></div></div>
        </td>
        <td colspan="2" class="norightborder noleftborder">
            <div class="conteudo noborder rtl">Autenticação mecânica - Ficha de Compensação</div>
        </td>
    </tr>

    <tr>
        <td colspan="8" class="noborder">
            <?php echo $barcode ?>
        </td>
    </tr>

    </tbody>
</table>